$white: #FFFFFF;
$black: #000000;
$gray: #d4d4d4;
$overlay-color: #2c2d33;
$green: #ABC65D;

$red: #ee5f5b;
$blue: #19B5FE;
$yellow: #f89406;
$aqua: #7FDBFF;


$purple: #AB1FD8;
$turquois: #00FFE0;
$green: #ABC65D;
$orange: #DFB626;
$pink: #fe57a1;

$base-font: "weblysleek_uilight", sans-serif;
$code-font: "LiberationMonoRegular",monospace;
// break point
$small: 750px;